.container{
    border:2px solid red;
    /* display:flex; */
    /* gap:20px; */
    /* justify-content: space-evenly; */
    height:1000px;
    /* flex-direction: column; */
    /* align-items: center; */
}
.main-content{
    display:flex;
}

.boxes{
    width:200px;
    height:200px;
    background-color: blue;
}

.left{
    border:2px solid black;
    padding:20px;
    width:50%;
}
.right{
    padding:20px;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap:50px;
    width:50%;
    align-items:center;
}

.top, .bottom,.content-left{
    border:2px solid green;
}

.content-left{
    height:400px;
}

.top, .bottom{
    /* height:200px; */
    width:200px;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nav-left{
    display:flex;
    align-items:center;
    width:50%;
    justify-content: space-evenly;
}

.nav-right{
    display:flex;
    justify-content: space-around;
    width:30%;
}